* {
  box-sizing: border-box;
}

.education-information {
  width: 100%;
  /* min-height: 100vh; */
  background-color: #F9F9F9;
}

.education-information-form {
  display: flex;
  flex-direction: column;
  padding: 2.1875rem 9.375rem;
  width: 57.1875%;
  min-height: 67.5rem;
  background-color: inherit;
}

.education-inofrmation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1A1A1A;
  padding: 0.75rem 0;
}

.back-to-landging-page {
  background-color: #FFFFFF;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.experinece-inofrmation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1A1A1A;
  padding: 0.75rem 0;
}


.input-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 23.1875rem;
  height: 6.625rem;
}

.button-previous {
  width: 9.4375rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #6B40E3;
  border: none;
  border-radius: 4px;
  padding: 0.875rem 2.1875rem;
  align-self: flex-start;

}

.button-finish {
  width: 9.4375rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #6B40E3;
  border: none;
  border-radius: 4px;
  padding: 0.875rem 2.1875rem;


}

.button-container {
  justify-content: space-between;
}

