.general-information {
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}

.personal-information {
    display: flex;
    flex-direction: column;
    padding: 2.1875rem 9.375rem;
    width: 57.1875%;
    min-height: 67.5rem;
    background-color: inherit;
}

.back-to-landging-page {
    background-color: #FFFFFF;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
}

.personal-information-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1A1A1A;
    padding: 0.75rem 0;
}

.first-last-names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.625rem;
    margin: 4.8125rem 0 3.375rem 0;
}

.input-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    width: 23.1875rem;
    height: 6.625rem;
}