.general-information {
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 120rem;
}

.informations-buttons {
    position: relative;
    width: 100%;
    max-width: 68.625rem;
    min-height: 67.5rem;
    padding: 2.1875rem 9.375rem;
    display: flex;
    flex-direction: column;
}


.personal-information {
    display: flex;
    flex-direction: column;
}

.back-to-landging-page {
    position: absolute;
    background-color: #FFFFFF;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 2.5rem;
    top: 2.5rem;
    cursor: pointer;
}

.personal-information-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1A1A1A;
    padding: 0.75rem 0;
    margin-bottom: 4.8125rem;
}

.first-last-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.375rem;
}


.input-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 23.1875rem;
    height: 6.625rem;
}

.upload-photo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.0625rem;

}

.upload-photo-button {
    background-color: #0E80BF;
    color: white;
    width: 6.6875rem;
    font-size: 0.875rem;
    padding: 0.3125rem 1.1875rem;
    border-radius: 4px;
    font-weight: 400;
    border: 0;
    margin-lefT: 1rem;
}

.upload-photo-header {
    margin-right: 1rem;
    margin: 0;
}


input {
    margin: 0.5rem 0;
    padding: 0.875rem 1rem;
    border: 1px solid #BCBCBC;
    width: 100%;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    border-color: #1A1A1A;
}

.about-me-optional {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.0625rem;
}

#about-me-text {
    margin-top: 0.5rem;
    padding: 0.875rem 1rem;
    border: 1px solid #BCBCBC;
    width: 100%;
    border-radius: 4px;
}

.for-hint {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #2E2E2E;
}

.email {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8125rem;
}

.mobile-number {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

#button-next {


    width: 9.4375rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #6B40E3;
    border: none;
    border-radius: 4px;
}




.input-checks-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}


.green-check,
.red-triangle {
    position: absolute;
}

.green-check {
    right: 0.5rem;
    width: 1.3125rem;

}

.red-triangle {
    right: -1.8rem;
    ;
    width: 1.3125rem;

}