.container {
    background-image: url("../UI/Assets/Images/shutterstock_2189773743 1.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    padding: 0 4.375rem;
}

.header {
    padding: 1.5625rem 0;
    border-bottom: 1px solid #1a1a1a;
}

.header-logo {
    width: 14.75rem;
}

.background-logo {
    width: 18.6875rem;
    height: 18.6875rem;
    position: absolute;
    top: -2.5rem;
    right: -11.4375rem;
    z-index: -1;
}

.button-and-logo {
    position: absolute;
    left: calc(50% - 14.5rem);
    top: calc(50% - 1.675rem);

}

.add-resume_button {
    font-family: inherit;
    font-size: 1.25rem;
    width: 29rem;
    height: 3.75rem;
    background-color: #1a1a1a;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 1.125rem 7.875rem;

}

.resume-block {
    position: absolute;
    width: 822px;
    height: 1080px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}